/* font-family: 'Lora', serif;
font-family: 'Dancing Script', cursive;
font-family: 'Poiret One', cursive; */
html, body {
  height: 100%;
}
body {
  background: aliceblue;
  font-family: 'Lora', serif;
  padding: 0px;
  margin: 0px;
}
h1, h2 {
  font-family: 'Poiret One', cursive;
  color: lightslategrey;
  margin: 0;
}
a {
  color: lightslategrey;
  text-decoration: none;
}
nav{
  padding: 20px 30px;
  float: right;
}
nav a {
  padding: 20px;
}
header {
  padding: 20px 30px;
  float: left;
}
main{
  padding: 20px 30px;
  clear: both;
}
body main p {
  padding: 60px 80px 60px 80px;
  font-size: 20px;
}
blockquote {
  clear: both;
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-size: 30px;
  color: lightslategrey;
}
footer {
  background: white;
  text-align: center;
  padding: 1px;
}
ul {
  padding: 0px 500px 0px 500px;
  font-size: 20px;
}
li{
  padding-top: 10px;
  padding-bottom: 10px;
}
.ella-img {
  padding: 20px;
  float: left;
}
.home {
  background: url(../images/background-5.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
.page-wrap {
  min-height: 100%;
  margin-bottom: -55px;
}
.page-wrap:after {
  content: "";
  display: block;
}
footer, .page-wrap:after {
  height: 55px;
}
